::-webkit-search-cancel-button {
  cursor: pointer;
}

.item {
  cursor: pointer;
}
:root {
  --border-color: rgb(110, 205, 240);
  --component-background-color: rgb(226, 243, 253);
  --input-width: 32rem;
  --input-max-width: 100%;
  --search-height: 1.5rem;
  --warning-gap: 0.5rem;
  --label-height: 1.25rem;
}

* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  box-sizing: border-box;
}

body {
  padding: 1rem;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: #fffff5;
  height: 100vh;
  align-items: center;
}

#title {
  text-align: center;
  margin: 0;
  margin-bottom: 2rem;
}

::-webkit-search-cancel-button {
  cursor: pointer;
}

#search-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  gap: var(--warning-gap);
  max-width: var(--input-max-width);
  width: var(--input-width);
}

#destination-label {
  height: var(--label-height);
}

#input-wrapper {
  border-bottom: 1px solid var(--border-color);
  display: flex;
  width: 100%;
  padding-bottom: 0.25rem;
  gap: 0.5rem;
  height: var(--search-height);
}

#input-wrapper:focus-within {
  border-bottom-width: 2px;
}

#search-destination {
  width: 100%;
  border: none;
  background: transparent;
}

#input-wrapper:focus-within #search-destination {
  margin-bottom: -1px;
}

#search-destination:focus-visible {
  outline: none;
}

#results-list {
  padding: 0.5rem 1rem;
  margin: 0;
  width: var(--input-width);
  max-width: var(--input-max-width);
  list-style: none;
  background: var(--component-background-color);
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  position: absolute;
  top: calc(
    var(--search-height) + var(--warning-gap) + var(--label-height) - 1px
  );
}

.item {
  cursor: pointer;
  padding-block: 0.25rem;
}

#datepicker-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--warning-gap);
  max-width: var(--input-max-width);
  width: var(--input-width);
  justify-content: center;
  flex-wrap: wrap;
}

#datepicker {
  padding: 0.5rem 0 0.5rem 0.25rem;
  border-radius: 0.5rem;
  border: 1px solid var(--border-color);
  display: flex;
  flex-direction: row-reverse;
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.25);
  min-width: fit-content;
  gap: 0.25rem;
}

#datepicker:focus-visible {
  outline: none;
  border-width: 2px;
  margin-top: -1px;
  margin-bottom: -1px;
}

::-webkit-calendar-picker-indicator {
  cursor: pointer;
  padding: 0.25rem;
  background-color: var(--border-color);
  border-radius: 1rem;
}

::-webkit-datetime-edit {
  cursor: text;
  min-width: max-content;
}

#booked-trip {
  margin: 0;
  font-size: 1.25rem;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 2rem;
}
